@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');

* {
  font-family: 'BIZ UDPGothic',
  sans-serif;
}

/*Banner Info */
.info {
    background-color: black;
    display: flex;
    font-size: 11px;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.info a {
    color: #fff;
    text-decoration: none;
    margin: 0px 5px px 5px;
    padding: 5px;
}

.info a:hover {
    text-decoration: underline;
    color: #fff;
}

.info2 {
    justify-content: flex-end;
    text-align: right;
    padding: 5px;
    font-size: 13px;
    width: 100%;
    height: 32px;
}

.info2 a {
    color: black;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

.info2 a:hover {
    color: black;
}

.menu {
    justify-content: center;
    text-align: center;
}

.menu a {
    color: black;
    text-decoration: none;
    text-decoration: solid;
    margin: 0px 10px 0px 10px;
    font-size: 12px;
}

.menu a:hover {
    text-decoration: underline;
    color: black;
}

.menu2 {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.menu2 a {
    color: black;
    margin: 0px 10px 0px 10px;
    font-size: 15px;
}

.menu2 a:hover {
    color: black;
}

.menu2 input {
    width: 160px;
    font-size: 12px;
    height: 30px;
    padding: 10px;
    background-color: #e9ecef;
    border: solid thin #e9ecef;
}

.menu2 input:active {
    border-color: #767677;
}

.menu2 button {
    margin-left: -50px;
    border: none;
    background: transparent;
}

/*Alert */
.alert {
    background-color: #007bc6 !important;
    color: #fff !important;
    text-align: center;
    justify-content: center;
    border-radius: 0 !important;
    font-size: 12px !important;
}

.alert a {
    text-decoration: underline !important;
    cursor: pointer;
}
/*Alert */

.banner1 {
    width: 100%;
    overflow-x: hidden;
}
